body {
  background-image: url("kaboompics_A beautiful blooming red rose in Madrid Botanic Garden.jpg");
  background-color: #cccccc;
  background-size: cover;
  background-repeat: no-repeat;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.avatar {
  border-radius: 50%;
  display: block;
  margin: 80px;
  margin-bottom: 30px;
  margin-top: 40px;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbuttons li {
  float: left;
}

.navbuttons a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbuttons a:hover {
  background-color: #111;
}

.active {
  background-color: #A2051B;
}

.navbuttons #id {
  background-color: red
}

#contact-info {
  padding-right: 350px;
  padding-left: 350px
}

.jumbotron {
  border-radius: 6px;
  margin: auto;
}

#contact-jumbotron {
  height: 120px;
  width: 400px;
  padding-top: 10px;
  margin-bottom: 30px;
}

#index-jumbotron {
  height: 300px;
  width: 600px;
  margin-top: 100px;
  margin-right: 150px;
}

.blurb {
  background-color: #fff;
  text-align: justify;
  padding-left: 15px;
  padding-bottom: 10px;
  padding-right: 15px;
  margin: 20px;
  border-radius: 5px;
}

.blurb>h3 {
  padding-top: 10px;
}